body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70npm;
    margin: auto;
    background-color: #000;
    font-family: Arial, sans-serif;
}

.card {
    width: 256.3px;
    height: 360px;
    background: linear-gradient(to bottom, #031310, #005A41);
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 111px;
    height: 109px;
    border-radius: 50%;
    border: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 150px;
}

.card h3 {
    font-size: 1.5em;
    margin: 10px 0;
    font-weight: bold;
    text-transform: capitalize;
    text-align: start;
    font-family: quantico;
}

.card p {
    font-size: 0.9em;
    line-height: 1.4;
    color: #d1d1d1;
    text-align: start;
    font-family: poppins;
}
.flex{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}