@import url('https://fonts.googleapis.com/css2?family=Playwrite+VN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 1s;
}

body{
    background-color: black;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    background-color: transparent;
    width:.75rem;
}
::-webkit-scrollbar-track{
    margin-block: 1rem;
    /* border: 1px solid rgba(144, 238, 144, 0.623);  */
    border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb{
    background-color: #0aaf56ee;
    border-radius: 3rem;
    border:2px solid black
}